* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
  }
  
  .Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .contentor {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
  }
  
  .imagem img {
    max-width: 100%;
    height: auto;
  }
  
  .separador {
    width: 10px;
  }
  
  .noticias {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .footer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
    background-color: #f8f8f8;
    position: relative;
  }
  
  .footer-noticias {
    font-size: small;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .suggestion-title {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
  }
  
  .book-carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 280px; /* Adjusted height */
    padding: 10px 0;
    position: relative;
  }
  
  .book-carousel-wrapper {
    display: flex;
    animation: scroll 20s linear infinite;
    gap: 35px; /* Adjusted gap */
    width: 500px;
  }
  
  .book {
    flex: 0 0 auto;
    text-align: center;
    width: 500px; /* Adjusted width */
  }
  
  .book-cover {
    width: 100%;
    height: 120px; /* Adjusted height */
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  
  .book-title {
    margin-top: 5px;
    font-size: 12px; /* Adjusted font size */
  }
  
  @keyframes scroll {
    0% { transform: translateX(100%); }
    100% { transform: translateX(calc(-100% - 230px * var(--num-books))); }
  }
  
  .book-carousel-wrapper:hover .book-cover {
    transform: scale(1.1);
  }
  