*{
    margin: 0;
    padding: 0;
}

.contentor{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.separador{
    width: 10px;
}

.noticias{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.footer-noticias{
    font-size: small;
}